html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #470606;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade{
  animation-name: fade; animation-duration: 1.5s;
}
@keyframes fade{
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.shablon {
  background-image: url(../images/shablon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #4f0101;
}

.container {
  max-width: 1800px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.header {
  margin-top: 55px;
  margin-bottom: 90px;
} 

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 47px;
}

.menu__link {
  cursor: pointer;
}

.menu__link + .menu__link {
  margin-left: 45px;
}

.header__switch-icon {
  cursor: pointer;
}

.header__langs {
  display: flex;
}

.header__lang {
  font-size: 30px;
}

.header__lang-eng,
.header__lang-rus {
  cursor: pointer;
}

.header__lang-rus {
  margin-left: 10px;
}

.hero {
  margin-bottom: 75px;
}
.hero__title {
  font-size: 65px;
  margin-bottom: 20px;
}

.hero__subtitle {
  margin-bottom: 40px;
  font-size: 32px;
}

.hero__item {
  margin-bottom: 45px;
  font-size: 21px;
  padding-left: 60px;
  position: relative;
}

.hero__item i {
  font-size: 13px;
  font-style: normal;
}

.hero__item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/ellipse.webp);
  background-repeat: no-repeat;
}

.hero__item--3::before {
  top: 0;
}

.hero__item:last-child {
  margin-bottom: 0;
}

.footer {
  padding-bottom: 30px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  align-items: center;
}

.footer__contacts a {
  display: inline-block;
}

.footer__phone {
  margin-bottom: 15px;
}

.footer__links {
  display: flex;
}

.footer__inst {
  margin-right: 25px;
}

.partners__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.partners__text i {
  text-transform: uppercase;
  margin-right: -6px;
  font-style: normal;
}

.partners__item img {
  max-width: 400px;
  margin-right: 75px;
}

.partners__item--4 img {
  max-width: 300px;
  margin-right: 75px;
}

.partners__item--4 b {
  margin-right: 200px;
}

.partners__item p {
  text-align: center;
  font-size: 26px;
  text-transform: lowercase;
}

.contacts__item {
  display: flex;
  margin-bottom: 25px;
  font-size: 27px;
}

.contacts__name {
  margin-right: 10px;
}

.news__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.news__item img {
  max-width: 990px;
}

.news__item-content {
  text-align: center;
}

.news__item-title {
  font-size: 41px;
  margin-bottom: 50px;
}

.news__item-text {
  font-size: 34px;
}

.news__cut {
  display: flex;
  justify-content: center;
}

.watermark {
  display: flex;
  justify-content: center;
}

.watermark img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.watermark a {
  display: flex;
  align-items: center;
}

.media__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.media__link {
  text-align: center;
  margin-bottom: 100px;
}

.media__link p {
  font-size: 36px;
  margin-top: 20px; 
}

.menu__link i {
  font-size: 60px;
}







@media (max-width: 1700px) {
  .news__item img {
    max-width: 800px;
  }
  .media__link  {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1350px) {
  .header__inner {
    font-size: 40px;
  }
  .hero__title {
    font-size: 55px;
  }
  .hero__subtitle {
    font-size: 30px;
  }
  .hero__item {
    font-size: 17px;
  }
  .hero__item::before {
    top: 5px;
  }
  .hero__item--3::before {
    top: -5px;
  }
  .footer {
    padding-bottom: 0;
  }
  .partners__item p {
    font-size: 22px;
  }
  .news__item img {
    max-width: 650px;
  }
  .news__item-title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .news__item-text {
    font-size: 25px;
  }
  .media__link  {
    width: 250px;
    height: 250px;
  }
  .media__link p {
    font-size: 30px;
  }
  .menu__link i {
    font-size: 50px;
  }
}

@media (max-width: 1150px) {
  .header__inner {
    font-size: 32px;
  }
  .menu__link + .menu__link {
    margin-left: 30px;
  }
  .header__lang {
    font-size: 26px;
  }
  .partners__item p {
    font-size: 19px;
  }
  .news__item img {
    max-width: 600px;
  }
  .news__item-title {
    font-size: 27px;
    margin-bottom: 50px;
  }
  .news__item-text {
    font-size: 22px;
  }
  .media__link  {
    width: 200px;
    height: 200px;
  }
  .media__link p {
    font-size: 24px;
  }
  .menu__link i {
    font-size: 45px;
  }
}

@media (max-width: 992px) {
  body {
    background-image: url(../images/bg-mob.webp);
  }
  .shablon {
    background-image: url(../images/shablon-mob.webp);
  }
  .header__inner {
    font-size: 22px;
  }
  .footer__inner {
    margin: 0 auto;
  }
  .header__lang {
    font-size: 25px;
  }
  .partners__item {
    display: block;
  }
  .partners__item img {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .partners__item--4 b {
    margin-right: 0px;
  }
  .news__item {
    display: block;
    margin-bottom: 90px;
  }
  .news__item img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .news__item-title {
    margin-bottom: 30px;
  }
  footer {
    margin-bottom: 30px;
  }
  .menu__link i {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .menu__link + .menu__link {
    margin-left: 20px;
  }
  .hero {
    margin-bottom: 60px;
  }
  .hero__title {
    font-size: 45px;
  }
  .hero__subtitle {
    font-size: 22px;
  }
  .hero__item {
    font-size: 15px;
    padding-left: 30px;
  }
  .hero__item::before {
    top: 6px;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
  .hero__item--3::before {
    top: 0px;
  }
  .footer__inner {
    max-width: 400px;
  }
  .footer__inst {
    margin-right: 15px;
  }
  .footer__phone {
    margin-bottom: 8px;
  }
  .header__lang {
    font-size: 22px;
  }
  .partners__item p {
    font-size: 17px;
  }
  .news__item {
    margin-bottom: 70px;
  }
  .news__item img {
    max-width: 550px;
  }
  .news__item-title {
    font-size: 25px;
  }
  .news__item-text {
    font-size: 20px;
  }
  .watermark p {
    font-size: 13px;
  }
  .watermark img {
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 575px) {
  .header {
    margin-top: 30px;
  }
  .header__inner {
    font-size: 16px;
  }
  .menu__link + .menu__link {
    margin-left: 10px;
  }
  .hero {
    margin-bottom: 50px;
  }
  .hero__title {
    font-size: 38px;
    margin-bottom: 16px;
  }
  .hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .hero__item {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .hero__item::before {
    top: 6px;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
  .hero__item--3::before {
    top: -2px;
  }
  .footer__inner {
    max-width: 350px;
  }
  .footer__phone,
  .footer__mail {
    font-size: 12px;
  }
  .footer__inst {
    margin-right: 10px;
  }
  .footer__links img {
    width: 45px;
  }
  .header__lang {
    font-size: 16px;
  }
  .header__lang-rus {
    margin-left: 10px;
  }
  .partners__item p {
    font-size: 15px;
  }
  .contacts__item {
    font-size: 22px;
  }
  .news__item img {
    max-width: 450px;
  }
  .news__item-title {
    font-size: 20px;
  }
  .news__item-text {
    font-size: 17px;
  }
  .menu__link i {
    font-size: 25px;
  }
}

@media (max-width: 475px) {
  .header {
    margin-top: 20px;
    margin-bottom: 230px;
  }
  .header__inner {
    font-size: 12px;
  }
  .menu__link + .menu__link {
    margin-left: 6px;
  }
  .header__lang {
    font-size: 12px;
  }
  .partners__item {
    margin-bottom: 40px;
  }
  .partners__item:first-child {
    margin-top: -150px;
  }
  .partners__item img {
    max-width: 200px;
    margin-bottom: 25px;
  }
  .partners__item--4 img {
    max-width: 150px;
  }
  .partners__item p {
    font-size: 11px;
  }
  .partners__text i {
    margin-right: -2px;
  }
  .contacts__item {
    font-size: 13px;
    margin-bottom: 12px;
  }
  .contacts__item:first-child {
    margin-top: -150px;
  }
  .news__item {
    margin-bottom: 50px;
  }
  .news__item img {
    margin-top: -150px;
    max-width: 350px;
    margin-bottom: 20px;
  }
  .news__cut {
    max-width: 220px;
    margin: 0 auto;
  }
  .news__item-title {
    font-size: 14px;
  }
  .news__item-text {
    font-size: 12px;
  }
  footer {
    margin-bottom: 10px;
  }
  .watermark p {
    font-size: 11px;
  }
  .media__inner {
    margin-top: -150px;
  }
  .media__link  {
    width: 141px;
    height: 141px;
  }
  .media__link p {
    font-size: 16px;
  }
  .menu__link i {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .header {
    margin-bottom: 180px;
  }
  .hero {
    margin-bottom: 20px;
  }
  .partners__item {
    margin-bottom: 30px;
  }
  .partners__item:first-child {
    margin-top: -100px;
  }
  .partners__item img {
    margin-bottom: 10px;
  }
  .contacts__item:first-child {
    margin-top: -120px;
  }
  .media__inner {
    margin-top: -100px;
  }
}